.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json

instance/*
!instance/.gitignore
.webassets-cache
.env

# Ignore __pycache__ directories and .pyc files
__pycache__/
*.pyc

.ruff_cache/

node_modules/
