{% extends "base.html" %}
{% from "chat/chat_header.html" import chat_header %}
{% from "chat/chat_messages.html" import chat_messages %}
{% from "chat/chat_bottombar.html" import chat_bottombar %}

{% block content %}
<main class="flex-1 p-4 md:p-6 max-w-4xl">
    <div class="bg-zinc-950 text-zinc-50 shadow-sm w-full mx-auto">
        <div class="space-y-4 border-zinc-800">
            {{ chat_header() }}
            {{ chat_messages(messages) }}
            {{ chat_bottombar() }}
        </div>
    </div>
</main>


{% endblock %}
